{% extends "bootstrap/base.html" %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}
{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle"data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Zen2Glo</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href='/dashboard'><font color="green">Glo App: Authorized</font></a></li>
				{% if not github %}
				<li><a onclick="document.getElementById('githubLoginId').submit();"><font color="red">Authorize GitHub App</font></a></li>
				{% else %}
				<li><a  href='/dashboard'><font color="green">GitHub App: Authorized</font></a></li>
				{% endif %}
				{% if not zenhub %}
				<li><a onclick="emptyOrSubmit();"><font color="red">Authorize ZenHub App</font></a></li>
				{% else %}
				<li><a  href='/dashboard'><font color="green">ZenHub App: Authorized</font></a></li>
				{% endif %}
				<li><a href='/logout'>Logout All Accounts</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
