{% extends "base.html" %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

{% block head %}
{{ super() }}
<script>
	function emptyOrSubmit() {
    	var x;
    	x = document.getElementById("ZenHubTokenFieldId").value;
    	if (x == "") {
        	alert("ZenHub API Access Token cannot be empty.");
        	return false;
		}
		else{
			document.getElementById('zenhubLoginId').submit()
		};
	}
</script>
<style>
.boxed {
	border: 1px solid red ;
  } 
</style>
{% endblock %}

{% block title %}Zen2Glo{% endblock %}

{% block content %}
<div class="container">
	<h2>Welcome to the Dashboard!</h2>
	<h3>Connection Status:</h3>
	<p>Glo Boards: <font color="green">Authorized</font></p>
	{% if session.github_token %}
		<p>GitHub App: <font color="green">Authorized</font>  (Connected to GitHub: {{ session.github_user_login }})</p>
	{% else %}
		<p>GitHub App: <a onclick="document.getElementById('githubLoginId').submit();"><font color="red">Not Authorized</font></a></p>
		<form id='githubLoginId' action="/login-github" ></form>
	{% endif %}
	{% if session.zenhub_token %}
		<p>ZenHub App: <font color="green">Authorized</font></p>
	{% else %}
		<p>ZenHub App: <a onclick="emptyOrSubmit();"><font color="red">Not Authorized</font></a></p>
		<div class='boxed'>
			<p>Login to ZenHub and generate a ZenHub API Access Token here:</p>
			<p><a target='_blank' rel='noopener noreferrer' href='https://app.zenhub.com/dashboard/tokens'>https://app.zenhub.com/dashboard/tokens</a></p>
			<p>Enter the ZenHub API Access Token into the box below:</p>
			<form id='zenhubLoginId' action="/login-zenhub" method="post">
			ZenHub API Access Token: <input type="text" name="zenhub_token" id='ZenHubTokenFieldId' />
			<input type="submit" value="Login" />
		</div>
	{% endif %}

	<h3>Your Glo Boards</h3>
	<ul>
		{% for board in data %}
		<li><a href="https://app.gitkraken.com/glo/board/{{board.id}}" target="_blank">{{board.name}}</a></li>
		{% else %}
		<li><em>No Glo Boards Found!</em></li>
		{% endfor %}
	</ul>

	{% if session.github_token and session.zenhub_token %}
	<h3>Your ZenHub Boards</h3>
	<ul>
		{% for board in session.zenhub_boards %}
		<li><a href="/dashboard/zenhub/{{board.repo_name}}">{{board.repo_name}}</a></li>
		{% else %}
		<li><em>No ZenHub Workspaces Found!</em></li>
		{% endfor %}
	</ul>
	<a href="/dashboard/zenhub-refresh"><button>Refresh ZenHub Boards</button></a>
	<br/><br/>
	{% endif %}
</div>
{% endblock %}