{% extends "bootstrap/base.html" %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

{% block styles -%}
{{super()}}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock styles %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block title %}Zen2Glo{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle"data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Zen2Glo</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{% if not session.glo_token %}
				<li><a onclick="document.getElementById('AuthGloAppId').submit();"><font color="red">Authorize Glo App</font></a></li>
				{% else %}
				<li><a href="#"><span style="color:green">Glo App: Authorized</span></a></li>
				{% endif %}
				{% if not session.github_token %}
				<li><a onclick="document.getElementById('githubLoginId').submit();"><font color="red">Authorize GitHub App</font></a></li>
				{% else %}
				<li><a href="#"><span style="color:green">GitHub App: Authorized</span></a></li>
				{% endif %}
				{% if not session.zenhub_token %}
				<li><a onclick="emptyOrSubmit();"><font color="red">Authorize ZenHub App</font></a></li>
				{% else %}
				<li><a href="#"><span style="color:green">ZenHub App: Authorized</span></a></li>
				{% endif %}
				<li><a href='/logout'>Logout All Accounts</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<div class="container">
		{% for category, message in messages %}
		<div class="alert alert-{{category}}" role="alert">{{message}}</div>
		{% endfor %}
	</div>
	{% endif %}
{% endwith %}
{% endblock %}