{% extends "base.html" %}

{% block title %}Zen2Glo{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
	<h1>Zen2Glo Migration</h1>
	<h2>Import ZenHub Boards directly to your Glo Boards</h2>
	<form id="AuthGloAppId" action="https://app.gitkraken.com/oauth/authorize" method="get">
		<input type="hidden" name="response_type" value="code" />
		<input type="hidden" name="client_id" value="{{client_id}}" />
		<input type="hidden" name="state" value="{{state}}" />
		<input type="hidden" name="scope" value="{{scope}}" />

		<button type="submit">Authorize Glo Access</button>
	</form>
</div>
{% endblock %}